<h1 mat-dialog-title>Add coin to Portfolio</h1>
<div mat-dialog-content>
  <h2>
    <img [src]="portfolio.coin.image" width="32" height="32" [alt]="portfolio.coin.name">
    {{portfolio.coin.name}}
  </h2>
  <mat-form-field>
    <input matInput [(ngModel)]="portfolio.name" required placeholder="Name">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="portfolio.description" placeholder="Description">
  </mat-form-field>

  <mat-form-field>
    <input matInput [(ngModel)]="portfolio.amount" required placeholder="Amount">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="portfolio.buyPrice" placeholder="Buy Price">
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="portfolio.goalPercentage" placeholder="Goal Percent in Portfolio">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="portfolio" cdkFocusInitial [disabled]="!portfolio.isValid">OK</button>
</div>
