.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.app-portfolios {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.portfolio-summary {
  display: flex;
  justify-content: space-around;

  &>mat-card {
    margin-right: 24px;
  }
  .buy-sum {}
  .diff {
    .percent {
      font-size: 80%;
    }
  }
  .current-sum {}

  .rebalance {
    text-align: center;
    .descr {
      font-size: 80%;
    }
  }
}


.app-filtering {
  min-height: 64px;
  padding: 8px 24px 0;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

mat-row:hover {
  background: #E8F5E9;
}

.cdk-column-image {
  flex: 0.3;
}
.cdk-column-coinId {
  flex: 3;
}
.cdk-column-buttons {
  flex: 0.3;
}

.buttons {
  text-align: right;
}

.footer {
  margin-top: 20px;
}

.coin-symbol {
  color: #666;
}

.calc-sum, .calc-percentage {
  font-size: 80%;
}
