<div *ngIf="!coins.length">
  <i>Loading...</i>
</div>
<table *ngIf="coins.length">
  <tr>
    <th>rank</th>
    <th>name</th>
    <th>symbol</th>
    <th>price_usd</th>
    <th>market_cap_usd</th>
    <th>market_share</th>
    <th>24h_volume_usd</th>
    <th>available_supply</th>
    <th>total_supply</th>
    <th>max_supply</th>
    <th>percent_change_1h</th>
    <th>percent_change_24h</th>
    <th>percent_change_7d</th>
    <th>last_updated</th>
  </tr>
  <tr  *ngFor="let coin of coins;">
    <td>{{coin.rank}}</td>
    <td>{{coin.name}}</td>
    <td>{{coin.symbol}}</td>
    <td>{{coin.price_usd | excelNumber}}</td>
    <td>{{coin.market_cap_usd | excelNumber}}</td>
    <td>{{coin.marketShare | excelNumber}}</td>
    <td>{{coin['24h_volume_usd'] | excelNumber}}</td>
    <td>{{coin.available_supply | excelNumber}}</td>
    <td>{{coin.total_supply | excelNumber}}</td>
    <td>{{coin.max_supply | excelNumber}}</td>
    <td>{{coin.percent_change_1h | excelNumber}}</td>
    <td>{{coin.percent_change_24h | excelNumber}}</td>
    <td>{{coin.percent_change_7d | excelNumber}}</td>
    <td>{{coin.last_updated}}</td>
  </tr>
</table>
